/modules/lambda_utils/langchain_layer/*.zip
/modules/lambda_utils/langchain_layer/layer/python/lib/

/modules/lambda_utils/pinecone_layer/layer/python/lib/
/modules/lambda_utils/pinecone_layer/*.zip

/modules/lambda_utils/custom_layer/layer/python/lib/
/modules/lambda_utils/custom_layer/*.zip

/modules/stepFunction/src/*.zip
/modules/api/src/*.zip
/.idea/
/jarvan/
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
/modules/api/src/ai_question.zip
/terraform.tfvars
