/modules/api/src/langchain_layer/layer/
/.idea/
/jarvan/
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
/modules/api/src/ai_question.zip
/modules/api/src/*.zip
/terraform.tfvars
/modules/api/src/custom_layer/*.zip
/modules/api/src/langchain_layer/*.zip
