/modules/api/src/langchain_openAI_lambda_layer/layer/
/modules/api/src/langchain_openAI_lambda_layer/*.zip
/.idea/
/jarvan/
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
/modules/api/src/ai_question.zip
/modules/api/src/*.zip
/terraform.tfvars
/modules/api/src/custom_layer/*.zip
